extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Fusce vitae magna libero. Aliquam aliquet nulla ut ultricies suscipit. Morbi congue leo sed tellus suscipit dapibus. Duis ullamcorper vulputate lacinia.
                p Aliquam tincidunt mauris at ante vestibulum, vehicula bibendum ante dictum. Phasellus placerat ultricies arcu eget faucibus. Integer ac tortor vitae quam ullamcorper laoreet a id enim. Suspendisse rhoncus pharetra est, non porttitor tellus porttitor eu. Donec rutrum leo consectetur purus tincidunt
                p Pellentesque molestie tempor ipsum, eu tincidunt eros pharetra sed. Suspendisse nisi diam, faucibus id pulvinar vitae, tincidunt non nisl. raesent tempus mattis nisi et tincidunt. Vivamus ut ornare tellus, eu sollicitudin ipsum. Aenean fringilla nisi vel sem vulputate, eu tempus turpis laoreet
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4") 
                    h2.mb-4 Seguridad
                    p Ut quis congue justo. Proin a massa nunc. Etiam pretium, magna ullamcorper bibendum
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="seguridad", class="img-fluid mb-4") 
                    h2.mb-4 Mejores Destinos
                    p Ut quis congue justo. Proin a massa nunc. Etiam pretium, magna ullamcorper bibendum
                .col-md-4
                    img(src="img/icono_precios.svg", alt="seguridad", class="img-fluid mb-4") 
                    h2.mb-4 Mejores Precios
                    p Ut quis congue justo. Proin a massa nunc. Etiam pretium, magna ullamcorper bibendum